<!--<leaflet lf-center="center" layers="layers" markers="markers" width="50%" height="300px" event-broadcast="events"></leaflet>-->
<!--<leaflet lf-center="center" width="50%" height="300px"></leaflet>
        <h1>Census Block Finder</h1>
        <p>Click on the map to find the block code.</p>
        <ul>
             <li><input type="number" step="any" ng-model="center.lat" /> Latitude</li>
             <li><input type="number" step="any" ng-model="center.lng" /> Longitude</li>
             <li><input type="number" step="any" ng-model="center.zoom" /> Zoom</li>
         </ul>-->